.main-content #swiper-bubble-overlay input, .main-content #swiper-bubble-overlay, .header #nav-container #search, .main-content #card-section #card-one, .main-content #card-section #card-two, .main-content #card-section #card-three {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main-content #swiper-text-overlay button, .main-content #card-section #card-two button, .main-content #card-section #card-one button, .main-content #card-section #card-three button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.header #nav-container #search input {
  border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -ms-border-radius: 3px 0px 0px 3px;
  -o-border-radius: 3px 0px 0px 3px;
}

.header #nav-container #search button {
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}

.header #nav-container #pages {
  border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  -o-border-radius: 3px 3px 0px 0px;
}

.main-content #card-section #card-one, .main-content #card-section #card-two, .main-content #card-section #card-three {
  display: inline-block;
  height: 170px;
  width: 210px;
  background-color: white;
  box-shadow: 0px 0px 12px #666;
  margin: 0px 20px;
  border: 5px solid white;
  overflow: hidden;
}

.main-content #swiper-text-overlay button, .main-content #card-section #card-two button, .main-content #card-section #card-one button, .main-content #card-section #card-three button {
  border: 2px solid white;
  background-image: linear-gradient(#249be0, #0c6aaa);
  color: white;
  font-family: "Myriad Pro";
  box-shadow: 2px 2px 8px #313131;
}

.float-left {
  float: left;
  position: absolute;
}

.float-right {
  float: right;
}

body {
  font-family: "Candara";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 200px;
  background-image: url("./assets/circle_pattern.png");
  overflow: hidden;
  margin-bottom: 10px;
}
.header #top-bar {
  background-color: #666;
  height: 40px;
  width: 100vw;
}
.header #top-bar h4, .header #top-bar h3 {
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  font-weight: 200;
}
.header #top-bar h3 {
  color: #249be0;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: 200;
}
.header #bottom-border {
  position: absolute;
  z-index: 1;
  top: 200px;
  height: 10px;
  width: 100vw;
  box-shadow: 0px 0px 8px grey;
}
.header #nav-container {
  height: 200px;
}
.header #nav-container img {
  margin: 12px;
  float: left;
}
.header #nav-container #quick-links {
  color: #666;
  float: right;
  position: relative;
  padding: 10px;
  margin-top: 12px;
}
.header #nav-container #quick-links button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #666;
}
.header #nav-container #search {
  background-color: white;
  box-shadow: 0px 0px 3px grey;
  height: 26px;
  width: 320px;
  float: right;
  padding: 4px;
  margin: 4px 16px;
}
.header #nav-container #search input {
  width: 236px;
  height: 22px;
  background-color: #249be0;
  color: white;
  border: none;
  float: left;
  position: relative;
  padding-left: 4px;
  font-family: "Myriad Pro";
  font-size: 16px;
}
.header #nav-container #search button {
  border: none;
  width: 80px;
  height: 24px;
  background-color: #0c6aaa;
  position: relative;
  color: #5fb7ff;
  float: right;
  font-family: "Myriad Pro";
  padding-top: 2px;
}
.header #nav-container #search #chat-triangle-inner {
  width: 0;
  height: 0;
  border-top: 12px solid #249be0;
  border-right: 16px solid transparent;
  position: relative;
  z-index: 3;
  top: 24px;
  left: 30px;
}
.header #nav-container #search #chat-triangle-outer {
  width: 0;
  height: 0;
  border-top: 16px solid white;
  border-right: 20px solid transparent;
  position: relative;
  z-index: 2;
  top: 16px;
  left: 26px;
  filter: drop-shadow(0 2px 6px grey);
  -webkit-filter: drop-shadow(0 2px 6px grey);
}
.header #nav-container #pages {
  width: 480px;
  background-color: white;
  position: relative;
  float: right;
  top: -58px;
  height: 52px;
  z-index: 2;
  box-shadow: 0px 0px 14px grey;
  border: none;
  margin: 14px;
}
.header #nav-container #pages button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 16px 5px;
  color: grey;
  left: -300px;
  display: inline-block;
  font-family: "Myriad Pro";
  font-weight: 200;
  font-size: 16px;
}

.content-frame {
  width: 800px;
  margin: 0 auto;
  color: white;
}

.main-content {
  height: fit-content;
  background-color: #666;
}
.main-content .swiper-frame {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.main-content img {
  height: 400px;
  width: 1000px;
}
.main-content #brand-logos {
  background-color: white;
  height: 100px;
  box-shadow: 0px 0px 12px #666;
}
.main-content #brand-logos img {
  height: 60px;
  width: auto;
  margin: 20px 27px;
  display: inline-block;
}
.main-content #card-section {
  height: auto;
  background-image: url("./assets/texture.png");
  padding: 40px 0px;
  box-shadow: inset 0px 0px 16px #666;
}
.main-content #card-section #card-one img, .main-content #card-section #card-two img, .main-content #card-section #card-three img {
  height: 170px;
  width: 210px;
}
.main-content #card-section #card-one h3, .main-content #card-section #card-three h3 {
  position: relative;
  z-index: 4;
  top: -184px;
  width: 210px;
  text-align: center;
  font-size: 24px;
  line-height: 1;
}
.main-content #card-section #card-one button, .main-content #card-section #card-three button {
  position: relative;
  top: -200px;
  z-index: 4;
  left: 46px;
  width: 120px;
  height: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}
.main-content #card-section #card-one {
  text-shadow: 0px 0px 12px #313131;
}
.main-content #card-section #card-two {
  background-color: #eee3b9;
}
.main-content #card-section #card-two img {
  position: relative;
  top: -130px;
  height: 170px;
  width: 120px;
  left: 100px;
}
.main-content #card-section #card-two h3 {
  position: relative;
  z-index: 4;
  width: 210px;
  text-align: left;
  font-size: 24px;
  line-height: 1;
  color: #666;
  margin: 16px;
  background-color: rgba(0, 0, 0, 0);
}
.main-content #card-section #card-two button {
  position: relative;
  top: -200px;
  z-index: 4;
  margin: 16px;
  width: 120px;
  height: 26px;
}
.main-content #card-section #card-three {
  color: #666;
}
.main-content #card-section #card-one-gradient {
  height: 120px;
  width: 210px;
  background-image: linear-gradient(#ccc4b7 50%, rgba(204, 196, 183, 0) 100%);
  position: absolute;
  z-index: 3;
}
.main-content #card-section #card-two-gradient {
  height: 170px;
  width: 210px;
  background-image: radial-gradient(circle at 180px 70px, rgba(238, 227, 184, 0) 30%, #eee3b8 40%);
  position: absolute;
  z-index: 3;
}
.main-content #card-section #card-three-gradient {
  height: 120px;
  width: 210px;
  background-image: linear-gradient(rgba(238, 227, 184, 0.5) 20%, rgba(204, 196, 183, 0) 100%);
  position: absolute;
  z-index: 3;
}
.main-content #swiper-text-overlay {
  color: white;
  position: absolute;
  margin: 0 auto;
  width: fit-content;
  top: 30px;
  left: 200px;
  z-index: 2;
}
.main-content #swiper-text-overlay button {
  margin-top: 10px;
  height: 40px;
  width: 170px;
  font-size: 18px;
  font-family: "Myriad Pro";
  letter-spacing: 1px;
}
.main-content #swiper-text-overlay h2 {
  font-size: 42px;
  font-weight: 100;
  text-shadow: 0px 0px 12px #666;
  margin: 0;
  line-height: 1;
}
.main-content #swiper-bubble-overlay {
  border: 5px solid white;
  background-image: linear-gradient(#249be0, #0c6aaa);
  color: white;
  height: 180px;
  width: 210px;
  position: absolute;
  top: 170px;
  left: 580px;
  z-index: 1;
  padding: 25px;
}
.main-content #swiper-bubble-overlay h3 {
  margin: 0px;
  font-size: 36px;
  line-height: 1.1;
}
.main-content #swiper-bubble-overlay input {
  margin-top: 10px;
  font-family: "Candara";
  font-weight: 200;
  height: 36px;
  width: 210px;
  text-align: center;
  font-size: 24px;
  color: #666;
  border: none;
  box-shadow: inset 2px 2px 12px #666;
}
.main-content #bubble-triangle {
  width: 0;
  height: 0;
  border-top: 36px solid #0c6aaa;
  border-right: 60px solid transparent;
  position: relative;
  z-index: 3;
  left: 630px;
  top: 5px;
}
.main-content #welcome-text, .main-content #showroom-links {
  display: inline-block;
  color: #444;
  padding: 5px;
}
.main-content #welcome-text h4, .main-content #showroom-links h4 {
  color: #0c6aaa;
  font-size: 22px;
  margin: 0;
}
.main-content #welcome-text {
  width: 64%;
}
.main-content #showroom-links {
  width: 30%;
  color: #444;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: 30px;
  padding-left: 20px;
}
.main-content #showroom-links a {
  font-family: "Myriad Pro";
  font-size: 14px;
}
.main-content #showroom-links a:visited {
  color: #444;
}

.footer {
  height: 260px;
  background-color: #313131;
  width: 100vw;
  color: white;
}
.footer #footer-banner {
  height: 60px;
  background-color: #0c6aaa;
  background-image: url("./assets/circle_pattern.png");
  background-position: 0px -10px;
}
.footer #footer-banner h2 {
  margin: 0;
  position: relative;
  top: 12px;
}

/*# sourceMappingURL=App.css.map */
