.main-content #swiper-bubble-overlay, .main-content #swiper-text-overlay button, .main-content #card-section .card, .header #nav-container #search {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.header #nav-container #search input {
  border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -ms-border-radius: 3px 0px 0px 3px;
  -o-border-radius: 3px 0px 0px 3px;
}

.header #nav-container #search button {
  border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -ms-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
}

.header #nav-container #pages {
  border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  -o-border-radius: 3px 3px 0px 0px;
}

.float-left {
  float: left;
  position: absolute;
}

.float-right {
  float: right;
}

body {
  font-family: "Candara";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100vw;
  height: 200px;
  background-image: url("./assets/circle_pattern.png");
  overflow: hidden;
  margin-bottom: 10px;
}
.header #top-bar {
  background-color: #666;
  height: 40px;
  width: 100vw;
}
.header #top-bar h4, .header #top-bar h3 {
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  font-weight: 200;
}
.header #top-bar h3 {
  color: #249be0;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: 200;
}
.header #bottom-border {
  position: absolute;
  z-index: 1;
  top: 200px;
  height: 10px;
  width: 100vw;
  box-shadow: 0px -2px 12px grey, 0px 4px 12px #444444;
}
.header #nav-container {
  height: 200px;
}
.header #nav-container img {
  margin: 12px;
  float: left;
}
.header #nav-container #quick-links {
  color: #666;
  float: right;
  position: relative;
  padding: 10px;
  margin-top: 12px;
}
.header #nav-container #quick-links button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #666;
}
.header #nav-container #search {
  background-color: white;
  box-shadow: 0px 0px 3px grey;
  height: 26px;
  width: 320px;
  float: right;
  padding: 4px;
  margin: 4px 16px;
}
.header #nav-container #search input {
  width: 236px;
  height: 22px;
  background-color: #249be0;
  color: white;
  border: none;
  float: left;
  position: relative;
  padding-left: 4px;
  font-family: "Myriad Pro";
  font-size: 16px;
}
.header #nav-container #search button {
  border: none;
  width: 80px;
  height: 24px;
  background-color: #0c6aaa;
  position: relative;
  color: #5fb7ff;
  float: right;
  font-family: "Myriad Pro";
  padding-top: 2px;
}
.header #nav-container #search #chat-triangle-inner {
  width: 0;
  height: 0;
  border-top: 12px solid #249be0;
  border-right: 16px solid transparent;
  position: relative;
  z-index: 3;
  top: 24px;
  left: 30px;
}
.header #nav-container #search #chat-triangle-outer {
  width: 0;
  height: 0;
  border-top: 16px solid white;
  border-right: 20px solid transparent;
  position: relative;
  z-index: 2;
  top: 16px;
  left: 26px;
  filter: drop-shadow(0 2px 6px grey);
  -webkit-filter: drop-shadow(0 2px 6px grey);
}
.header #nav-container #pages {
  width: 480px;
  background-color: white;
  position: relative;
  float: right;
  top: -58px;
  height: 52px;
  z-index: 2;
  box-shadow: 0px 0px 14px grey;
  border: none;
  margin: 14px;
}
.header #nav-container #pages button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 16px 5px;
  color: grey;
  left: -300px;
  display: inline-block;
  font-family: "Myriad Pro";
  font-weight: 200;
  font-size: 16px;
}

.content-frame {
  width: 800px;
  margin: 0 auto;
  color: white;
}

.main-content {
  height: fit-content;
  background-color: #666;
}
.main-content .swiper-frame {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.main-content img {
  height: 400px;
  width: 1000px;
}
.main-content #brand-logos {
  background-color: white;
  height: 100px;
  box-shadow: 0px -4px 4px #666;
}
.main-content #brand-logos img {
  height: 60px;
  width: auto;
  margin: 20px 27px;
  display: inline-block;
}
.main-content #card-section {
  height: auto;
  background-image: url("./assets/texture.png");
  padding: 40px 0px;
}
.main-content #card-section .card {
  display: inline-block;
  height: 180px;
  width: 220px;
  background-color: white;
  box-shadow: 0px 0px 5px #666;
  margin: 0px 20px;
}
.main-content #card-section .card img {
  height: 170px;
  width: 210px;
  margin: 5px;
}
.main-content #swiper-text-overlay {
  color: white;
  position: absolute;
  margin: 0 auto;
  width: fit-content;
  top: 50px;
  left: 250px;
  z-index: 2;
}
.main-content #swiper-text-overlay button {
  border: 2px solid white;
  background-color: #249be0;
  color: white;
}
.main-content #swiper-bubble-overlay {
  border: 2px solid white;
  background-color: #249be0;
  color: white;
  height: 180px;
  width: 200px;
  position: absolute;
  top: 220px;
  left: 650px;
  z-index: 2;
  text-align: center;
}
.main-content #welcome-text {
  width: 66%;
  display: inline-block;
  margin: 20px 0px;
  color: black;
  padding: 5px;
}
.main-content #welcome-text h4 {
  margin: 2px;
}
.main-content #showroom-links {
  padding: 5px 10px 5px 5px;
  width: 30%;
  display: inline-block;
  margin: 20px 0px;
  color: black;
  border-left: 1px solid #666;
}
.main-content #showroom-links h4 {
  margin: 2px;
}

.footer {
  height: 260px;
  background-color: #313131;
  width: 100vw;
  color: white;
}
.footer #footer-banner {
  height: 60px;
  background-color: #0c6aaa;
  background-image: url("./assets/circle_pattern.png");
  background-position: 0px -10px;
}
.footer #footer-banner h2 {
  margin: 0;
  position: relative;
  top: 12px;
}

/*# sourceMappingURL=App.css.map */
